@keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }


body{
    background-color: #f5f5f5;
}

.product-section{
    animation: fadeIn 0.5s ease-in-out;
    background-color: #ffffff;
    height: 100vh;
    padding: 20px;
}

@media (max-width: 765px) {
  .product-section {
    height: auto;
  }
}

.product-section #product-reviews{
    color: #696969;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 2px solid #696969a4;
    padding-bottom: 5px;
}

.product-section #product-price{
    color: #696969;
    font-weight: 600;
    font-size: 1.8rem;
}

.product-section #product-description{
    text-align: justify;
}

.product-section #product-image img{
    object-fit:cover; 
    height:350px;
}

.product-section #product-thumbnails img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50%;
    border-radius: 10px;
    border: 1px solid #69696934;
    margin-right: 10px;
    cursor: pointer;
}

.product-section #product-thumbnails img:hover{
    border: 1px solid #69696994;
    transition: border 0.3s ease-in-out;
}